/* You can add global styles to this file, and also import other style files */

.red {
  color:red;
  font-size:35px;
}

.blue {
  color: blue;
  font-size: 60px;
}

.green {
  color:green;
  font-weight:bold;
}

.orange {
  color: orange;
  font-weight: bold;
}